


/* ID SELECTORS ALL */
    
body {
        font-family: 'Ubuntu Condensed', serif;
        
}



/* TYPE SELECTORS ALL*/ 

.main-nav
.about-nav
.projects-nav
.contact-nav
.resume-nav
.blog-nav{

    display: inline;
    
    


}

li {

    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -10px;
    font-size: 1em;
    
}

ul {
    
    list-style-type; none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

li a {
    text-decoration: none;
    color: black;
    
}

li a:hover {
    color: rgba(230, 247, 223, 0.79);
}


 nav ul {
    padding-top: -40px;s
    

}

body {
    background: #CEE9C4;
    
}

.article {
    /* border: 1px solid rgba(255, 255, 255, 0.44); */
    border-radius: 10px;
    text-align: center;
    letter-spacing: 2px;
    background-color: white;
    margin: 0 auto;
    box-shadow:.2px .2px .2px .2px rgba(70, 69, 69, 0.1);
    background: rgba(230, 247, 223, 0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    position: static;
    
}

/* ID SELECTORS HOME */

#home-article {
    font-size: 1em;
}

/* TYPE SELECTORS HOME */ 

.main-nav {
    margin-top: 2px;
}


/* CLASS SELECTORS HOME */

img {
    position: flex;
    border-radius: 50%;
    border: 2px solid black;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    
}


/* ID SELECTORS ABOUT */


/* TYPE SELECTORS ABOUT */

.bottom-article {
    border: 1px solid rgba(255, 255, 255, 0.44);
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: white;
    margin: 10px 20px;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: rgba(230, 247, 223, 0.79);
    padding: 10px 30px 50px 30px;
    font-size: 15px;
    

}


/* CLASS SELECTORS ABOUT */














/* CLEARFIX */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }




  /* PAGINATION */


.page-ul {
    list-style: 
}

.page-li {
    display: inline;
}

#previous {
    float: left;

}